* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

button {
  text-decoration: none;
  border: none;
  padding: 0.5rem 1.5rem;
}
